/* HEADER */

/* Index header*/
header {
  font-family: "Fredoka";
}

.header-login {
  color: white;
  background-color: rgb(23, 22, 22);
  font-size: large;
  margin: 0;
  padding: 0;
}

.nav-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 10vh;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 15px;
}

.logo {
  border-radius: 10em;
  max-height: 50px;
  padding: 10px;
}

/* home header*/

.home-header {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 22, 22);
  color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.hom-nav-option {
  text-decoration: none;
  color: inherit;
}

.hom-nav-option:hover {
  background-color: rgb(44, 42, 42);
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-logo {
  padding-right: 50px;
  max-height: 50px;
}

/* explorer header */
.explorer-header {
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 22, 22);
  color: white;
}

/* profile header */
.profile-header{
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  background-color: rgb(23, 22, 22);
  color: white;

}

/* MAIN */

/* index main */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../assets/fondoWeb.png");
  font-family: "Fredoka";
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgb(23, 22, 22);
  color: white;
  align-items: center;
  max-width: 30%;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 2px;
  min-height: 10vh;
  min-width: 40vh;
  font-family: "Fredoka";
  padding-bottom: 50px;
}

.form-title-container {
  padding: 0px 160px;
  background-color: rgb(15, 15, 15);
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button-login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;
  gap: 20px;
  font-family: "Fredoka";
  font-size: large;
  color: white;
  background-color: blue;
  border: black solid 1px;
  border-radius: 10px;
  padding: 10px;
}

.button-login:hover {
  background-color: rgb(5, 15, 163);
  cursor: pointer;
}

.login-form-input {
  border-radius: 5px;
  padding: 10px;
  background-color: ghostwhite;
  font-family: "Fredoka";
  font-size: large;
}

.login-link {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

/* Home main*/
.home-main {
  min-width: 20%;
  margin: 10vh 30vh;
}

.home-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(23, 22, 22);
  margin: 0px 10rem;
  min-width: 100px;
}

.user-info {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  background-color: rgb(19, 18, 18);
  align-items: flex-start;
  padding: 10px 0px;
}

.user-photo {
  border-radius: 100px;
  max-height: 50px;
  padding: 0px 10px;
}

.user-post {
  border: solid black 1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 100%;
  height: 30rem;
}

.user-option {
  max-width: 100%;
  background-color: rgb(19, 18, 18);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-left: 15px;
  width: 98%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.user-name {
  padding: 10px;
  border-radius: 10px;
}

.user-name:hover {
  background-color: rgb(56, 54, 54);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.post-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  margin-left: 30px;
}

.post-description {
  width: 100%;
}

.post-int-icon {
  max-height: 100px;
  padding: 12px 8px;
  background-color: rgb(19, 18, 18);
  max-width: 100%;
}

.post-int-icon:hover {
  max-height: 100px;
  cursor: pointer;
  background-color: rgb(56, 54, 54);
  border-radius: 50px;
  padding: 12px 8px;
  transition: all 0.9s ease;
}

/* Explorer main */
.main-explorer {
  color: white;
  display: grid;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: large;
}

.user-card {
  margin: 10vh 10vh;
  background-color: rgb(23, 22, 22);
  border-radius: 10px;
  margin-top: 10vh;
  margin-left: 10vh;
  margin-right: 10vh;
}

.user-info-explorer {
  display: flex;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  background-color: black;
}

.user-name-explorer {
  padding: 10px;
}

.user-name-explorer:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(23, 22, 22);
  cursor: pointer;
}

.user-photo-explorer {
  border-radius: 100px;
  max-height: 10vh;
  padding: 10px;
}

.user-posts-pet {
  display: flex;
  flex-direction: row;
  padding: 0 50vh;
}

.user-pet-photo {
  border: 1px black solid;
  max-width: 10rem;
  align-items: center;
}

/* profile main */
.user-profile-container{
    color:white;
    font-size: large;
    background-color: black;
}
.user-profile-header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user-profile-info{
    margin-top: 5vh;
    margin-left: 5vh;
    background-color: black;
}

.user-profile-photo{
    border-radius: 20px;
    max-height: 90px;
    max-width: 100px;
}
.user-profile-posts{
    display: flex;
    padding:0;
    margin:0;
}

.user-photo-profile{
    max-height: 100vh;
    max-width: 10rem;
    border: black 1px solid;
}
/* FOOTER */
.footer-login {
  font-size: small;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(23, 22, 22);
  color: white;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-contact-option {
  padding: 0;
  margin: 5px;
}

.footer-terms {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.term-element {
  padding: 0;
  margin: 5px;
}

.footer-social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-media {
  padding: 0;
  margin: 5px;
}
